body{
    background-color: rgb(255, 255, 255);
}
.slidecontainer {
    width: 1000%; /* Width of the outside container */
}
/*
p{
    color:rgb(32, 222, 28)
}
h{g
    color:rgb(146, 25, 86)
}
*/
